@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(72, 146, 237);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 40px 0;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

section {
    width: 600px;
    height: 300px;
    border-radius: 20px;
    background-color: white;
    color: black;
    margin: auto;
    padding: 20px;
    margin-bottom: 40px;
    font-size: 1.4rem;
}

section #resp {
    width: 200px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 1rem;
    text-align: left;
    padding: 10px 0 0 5px;
    line-height: 18px;
}

footer {
    text-align: center;
    font-size: 1.3rem;
}